body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(41, 35, 35);
    color: #FFD204;
}

::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }

::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }

::-webkit-scrollbar-thumb {
    background-color: #302f2fbb;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 0px solid orange;  /* creates padding around scroll thumb */
  }

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 10vh;
}

header img{
    width: 65px;
    margin-left:20px;
}

.container{
    width: 100vw;
    height: 80vh;
    overflow: auto;
    background-color: rgb(41, 35, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.adm-page{
    width: 100vw;
    height: 80vh;
    overflow: auto;
    background-color: rgb(41, 35, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.fazer-pedido{
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 10px;
}

div h3{
    width: 100%;
    height: 20%;
    font-size: xx-large;
}

.informacoes{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nome{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -30px;
}

.sabor{
    width: 90%;
    display: flex;
    justify-content:center;
    align-items:center;
    padding:5px;
}

.nome input{
    width: 49%;
    height: 40px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: large;
}

.contador{
    width: 5%;
    height: 40px;
    border: none;
    text-align: center;
    font-size: large;
}

.sabor-produto{
    width: 30%;
    height: 42px;
    border: none;
    text-align: center;
    font-size: large;
    margin-right:10px;
    border-radius:5px;
    overflow: hidden;
}

.subtrair{
    width: 30px;
    height: 42px;
    border: none;
    border-radius:5px 0 0 5px;
}

.subtrair:hover{
    background-color: #CCC;
    cursor: pointer;
}

.adicionar{
    width: 30px;
    height: 42px;
    border: none;
    border-radius:0 5px 5px 0;
}

.adicionar:hover{
    background-color: #CCC;
    cursor: pointer;
}

.btn{
    width: 30%;
    height: 43px;
    background-color: #1AB7EA;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    margin-top:5px;
    font-weight: bold;
}

.btn:hover{
    filter: brightness(1.3);
}

.container-pedido{
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 10px;
}

.pedido{
    width:100%;
    height:10%;
    text-align:center;
}

.area-pedido{
    width:100%;
    height:80%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.area-botao{
    width:100%;
    height:10%;
}

.botao{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itens-pedido{
    width: 80%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.produto-pedidos{
    display: flex;
    width:90%;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.itens-pedido input{
    width: 20%;
    height: 40px;
    border: none;
    text-align: center;
    font-size: large;
    border-radius:5px;
    overflow: hidden;
}

.itens-pedido label{
    width: 40%;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: large;
    border-radius: 5px;
    margin-right: 10px;
}

.nomecliente{
    margin-bottom:10px;
    width: 45%;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-align:center;
    font-size:large;
    margin-top:-20px;
}

.form-pedido{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-pedidos{
    width:100%;
    height:10%;
    background: blue;
    }

.nome-pedido{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adicionar-items{
    display:flex;
}

.itens{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 10vh;
    text-align:center;
}

footer h3{
    font-size: small;
}

/*inicio comandas*/

.container-comandas{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content;
    justify-items: center;
    overflow: auto;
}

.container-pedido-comanda{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 10px;
}

.comandas{
    width: 95%;
    height: 95%;
    display: flex;
    text-align: center;
    padding: 10px;
    gap: 10px;
}

.form-pedido-comanda{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comanda-sabor{
    background-color: #1e1c1c;
    color: white;
    width: 23%;
    border-radius: 5px 0 0 5px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
}

.comanda-qtd{
    background-color:#393636;
    border-radius: 0 5px 5px 0;
    height: 29px;
    width: 5%;
    text-align: center;
    margin-right: 5px;
    border: none;
    color: white;
}

input:disabled {
  background:#1e1c1c;
}

.titulo-comanda{
    width: 100%;
    height: 20%;
    font-size: xx-large;
    margin:0;
}

.titulo-pedido-comanda{
    font-size: x-large;
    margin-top: 10px;
}

.nomecliente-comandas{
    width: 91%;
    height: 25px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    margin-bottom: -5px;
    background-color: #1e1c1c;
    color: white;
}

#produtoQtd{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.botao-comanda{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.editar{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-finalizar{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-comandas{
    width: 90%;
    height: 31px;
    background-color: #1AB7EA;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-comandas:hover{
    filter: brightness(1.3);
}

.vazia{
    width:33%;
}

.logo-nav{
    display:flex;
    width:33%;
    align-items: center;
    justify-content: center;
}

.div-btn{
    display:flex;
    width:33%;
    align-items: center;
    justify-content: flex-end;
}

.nav-adm{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .container-comandas{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .adm-page{
        flex-direction:column;
        overflow:auto;
    }
    .fazer-pedido {
    width: 95%;
    margin-top:10px;
    }
    .container-pedido {
        width: 95%;
        margin-bottom:10px;
    }

    .vazia{
        display:none;
    }

    .logo-nav{
      justify-content: flex-start;
    }

    .nav-adm{
        justify-content: space-between;
    }


}

@media (max-width: 600px) {
    .container-comandas{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 15px;
    border:none;
}

.btn-nav:hover{
  transition: 0.5s;
  background-color:rgb(41, 35, 35);
  filter: brightness(1.5);

}


