body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(41, 35, 35);
    color: #FFD204;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 10vh;
}

header img{
    width: 65px;
}

.container{
    width: 100vw;
    height: 80vh;
    overflow: auto;
    background-color: rgb(41, 35, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.fazer-pedido{
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 10px;
}

div h3{
    width: 100%;
    height: 20%;
    font-size: xx-large;
}

.informacoes{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nome{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -30px;
}

.sabor{
    width: 90%;
    display: flex;
    justify-content:center;
    align-items:center;
    padding:10px;
}

.nome input{
    width: 49%;
    height: 40px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: large;
}

.contador{
    width: 5%;
    height: 40px;
    border: none;
    text-align: center;
    font-size: large;
}

.sabor-produto{
    width: 30%;
    height: 42px;
    border: none;
    text-align: center;
    font-size: large;
    margin-right:10px;
    border-radius:5px;
    overflow: hidden;
}

.subtrair{
    width: 30px;
    height: 42px;
    border: none;
    border-radius:5px 0 0 5px;
}

.subtrair:hover{
    background-color: #CCC;
    cursor: pointer;
}

.adicionar{
    width: 30px;
    height: 42px;
    border: none;
    border-radius:0 5px 5px 0;
}

.adicionar:hover{
    background-color: #CCC;
    cursor: pointer;
}


.btn{
    width: 30%;
    height: 43px;
    background-color: #1AB7EA;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    margin-top:5px;
    font-weight: bold;
}

.btn:hover{
    filter: brightness(1.3);
}

.container-pedido{
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 10px;
}

.pedido{
    width:100%;
    height:10%;
    text-align:center;
}

.area-pedido{
    width:100%;
    height:80%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}

.area-botao{
    width:100%;
    height:10%;
}

.botao{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5px;
}

.itens-pedido{
    width: 80%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.produto-pedidos{
    display: flex;
    width:90%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.itens-pedido input{
    width: 20%;
    height: 40px;
    border: none;
    text-align: center;
    font-size: large;
    border-radius:5px;
    overflow: hidden;
}

.itens-pedido label{
    width: 40%;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: large;
    border-radius: 5px;
    margin-right: 10px;
}

.nomecliente{
    margin-bottom:10px;
    width: 45%;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-align:center;
    font-size:large;
    margin-top:-5px;
}

.form-pedido{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-pedidos{
width:100%;
height:10%;
background: blue;
}

.nome-pedido{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adicionar-items{
    display:flex;
}


.itens{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 10vh;
    text-align:center;

}

footer h3{
    font-size: small;
}

/*inicio comandas*/

.comandas{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.secao-comandas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    padding: 5px;
    background-color: black;
}

.pedidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: black;
    width: 90%;
    height: 150px;
    background-color: rgb(29, 27, 27);
}

.pedidos h3{
    width: 80%;
    height: 20%;
    font-size: x-large;
    background: white;
    border-radius: 5px;
    margin: 5px 0 5px 0;
}

.pedidos p{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 20%;
    height: 20%;
    background: white;
    border-radius: 5px;
    margin:0;
}

.pedidos ul{
    display:flex;
    justify-content:center;
    align-items:center;
    list-style-type:none;
    width: 20%;
    height: 20%;
    background: white;
    border-radius: 5px;
    margin-top:5px;
    margin-bottom:0;
}

.btn-comandas{
    width: 60%;
    height: 31px;
    background-color: #1AB7EA;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-comandas:hover{
    filter: brightness(1.3);
}



input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

