{% extends 'base.html' %}

{% block content %}

    <div class="fazer-pedido">
        <div>
            <h3>Dados do pedido</h3>
        </div>

        <div class="informacoes">
            <div class="nome">
                <input id="nome" type="text" placeholder="Nome">
            </div>

            <div class="sabor">
                <input name="queijo" value="queijo" placeholder="QUEIJO"/>
                <button onclick="subtrair('queijo')" class="subtrair">-</button>
                <input id="queijo" name="queijo" type="text" placeholder="0" value="0" disabled>
                <button onclick="somar('queijo')" class="adicionar">+</button>
            </div>

            <div class="sabor">
                <input id="subCarne" value="carne" placeholder="CARNE"/>
                <button onclick="subtrair('carne')" class="subtrair">-</button>
                <input id="carne" type="number" placeholder="0" value="0">
                <button id="somCarne" onclick="somar('carne')" class="adicionar">+</button>
            </div>

            <div class="sabor">
                <input id="acai" value="acai" placeholder="AÇAI"/>
                <button onclick="subtrair('acai')" class="subtrair">-</button>
                <input id="quantidadeacai" type="number" placeholder="0" value="0">
                <button onclick="somar('acai')" class="adicionar">+</button>
            </div>

            <button onclick="finalizar()" class="btn">Adicionar</button>
        </div>
    </div>

    <div class="container-pedido">
        <div>
            <h3>Pedido</h3>
        </div>

        <div class="itens-pedido">
            <div class="nome-pedido">
                <h2 id="comprador"></h2>
            </div>
            <div class="itens">
                <h2 id="numero"></h2>
                <h2 id="sabores"></h2>
            </div>

            <div class="itens">
                <h2 id="qtdcarne"></h2>
                <h2 id="scarne"></h2>
            </div>

            <div class="itens">
                <h2 id="qtdacai"></h2>
                <h2 id="sacai"></h2>
            </div>

        </div>
        <div class="botao">
            <button onclick="" class="btn">Finalizar pedido</button>
        </div>
    </div>

{% endblock content %}