{% extends 'base.html' %}

{% block content %}

    <div class="fazer-pedido">
        <div>
            <h3>Dados do pedido</h3>
        </div>

        <div class="informacoes">
            <div class="nome">
                <input id="nome" type="text" placeholder="Nome">
            </div>

            {% for i in esfirras %}
                <div class="sabor">
                    <input class="sabor-produto" name="{{ i.nome.lower }}"  value="{{ i.nome.upper }}"/>
                    <button onclick="subtrair('{{ i.nome.lower }}')" class="subtrair">-</button>
                    <input class="contador" id="{{ i.nome.lower }}" name="{{ i.nome.lower }}" type="text" value="0">
                    <button onclick="somar('{{ i.nome.lower }}')" class="adicionar">+</button>
                </div>
            {% endfor %}

            <button onclick="adicionar()" class="btn">Adicionar</button>
        </div>
    </div>

    <div class="container-pedido">
        <div>
            <h3>Pedido</h3>
        </div>

        <form class="form-pedido" action="{% url 'enviar_pedido' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

                <input id="nomeCliente" name="nome" class="nomecliente" value="">



                <div id="addItem" class="itens-pedido">

                </div>

            <div class="area-botao botao">
                <button type="submit" class="btn">Finalizar pedido</button>
            </div>
        </form>
    </div>

{% endblock content %}