{% extends 'base.html' %}

{% block content %}

    <div class="fazer-pedido">
        <div>
            <h3>Dados do pedido</h3>
        </div>

        <div class="informacoes">
            <div class="nome">
                <input id="nome" type="text" placeholder="Nome">
            </div>

            <div class="sabor">
                <input name="queijo" class="produtos" value="queijo" placeholder="QUEIJO"/>
                <button onclick="subtrair('queijo')" class="subtrair">-</button>
                <input id="queijo" name="queijo" type="text" placeholder="0" value="0">
                <button onclick="somar('queijo')" class="adicionar">+</button>
            </div>

            <div class="sabor">
                <input name="carne" class="produtos" value="carne" placeholder="CARNE"/>
                <button onclick="subtrair('carne')" class="subtrair">-</button>
                <input id="carne" type="number" placeholder="0" value="0">
                <button id="somCarne" onclick="somar('carne')" class="adicionar">+</button>
            </div>

            <div class="sabor">
                <input name="acai" class="produtos" value="acai" placeholder="AÇAI"/>
                <button onclick="subtrair('acai')" class="subtrair">-</button>
                <input id="acai" type="number" placeholder="0" value="0">
                <button onclick="somar('acai')" class="adicionar">+</button>
            </div>

            <button onclick="adicionar()" class="btn">Adicionar</button>
        </div>
    </div>

    <div class="container-pedido">
        <div>
            <h3>Pedido</h3>
        </div>

        <p id="nomeCliente" class="nomecliente"></p>

        <form class="" action="{% url 'enviar_pedido' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div id="addItem" class="itens-pedido">

            </div>

            <div class="botao">
                <button type="submit" class="btn">Finalizar pedido</button>
            </div>
        </form>
    </div>

{% endblock content %}