{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos JA - {% block title %}Home{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div>
    {% include 'partials/header.html' %}

    <div class="container">

        {% block content %}

        {% endblock content %}
    </div>

    {% include 'partials/footer.html' %}
</div>

<!-- Scripts Files -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>