<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comandas</title>
    <link rel="stylesheet" href="../pedidos/static/css/style.css">
</head>
<body>

    <header>
        <img src="logo_JA-Oficial.png" alt="Logo dos jovens iasd">
    </header> 

    <div class="comandas">

        <div class="secao-comandas">

            <div class="pedidos">   

                <div class="nome-pedido-comandas">
                    <input class="comprador-comandas" type="text" placeholder="NOME COMPRADOR">
                </div>

                <div class="itens-comandas">
                    <input class="quantidade" type="text" placeholder="QUANT">
                    <input class="sabor" type="text" placeholder="SABOR">
                </div> 

            </div>

        </div>
    </div>

    <footer><H3>Copyright</H3></footer>
    
</body>
</html>