{% extends 'base.html' %}

{% block content %}

    {% for item in data %}

        <div class="comandas">
            <div class="container-pedido">
                <div class="">
                    <h3>Pedido</h3>
                </div>

                <form class="form-pedido" action="{% url 'enviar_pedido' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <label for="" class="">Nome</label>
                    <input id="nomeCliente" name="nome" class="nomecliente" value="{{ item.nome }}">

                    {% for k, v in item.produtos.items %}
                        <div class="produto-pedidos">
                            <label for="{{ k }}" class="" >{{ k }}</label>
                            <input id="" name="{{ k }}" class="" value="{{ v }}">
                        </div>
                    {% endfor %}

                    <div class="editar">
                        <button type="button" class="btn">Editar</button>
                    </div>
                    <div class="area-botao botao">
                        <button type="submit" class="btn">Finalizar pedido</button>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}

{% endblock %}