{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="{% static 'css/stylelogin.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block login %}
        <form method="post" action="{% url 'login_user' %}" class="login">
            {% csrf_token %}
            <img src="{% static 'img/logoja.jpeg' %}" alt="logo JA">
            <input type="email", name="email">
            <input type="password", name="password">
            <button class="entrar">Entrar</button>
        </form>

{% endblock %}