{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="{% static 'css/stylelogin.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block login %}
        <form method="post" action="{% url 'login_user' %}" class="login">
            {% csrf_token %}
            <img src="{% static 'img/logo_JA-Oficial.png' %}" alt="logo JA">
            <input type="email" name="email" placeholder="E-mail">
            <input type="password" name="password" placeholder="Senha">
            <button class="entrar">Entrar</button>
        </form>

{% endblock %}