<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login pedidos</title>
    <link rel="stylesheet" href="../pedidos/static/css/stylelogin.css">
</head>
<body>

    <div class="container">

        <div class="login">

            <img src="logo_JA-Oficial.png" alt="">

            <input type="email">

            <input type="password">

            <button class="entrar">Entar</button>

        </div>

    </div>
    
</body>
</html>