{% extends 'base.html' %}

{% block content %}
        <div class="" style="display: block; text-align: center; background-color: rgba(0, 0, 0, 0.678); border-radius: 10px; height: 70%; width: 50%;">
            <h3 class="titulo-relatorio" style="margin-bottom:1px;">Relatório de Vendas</h3><br>
            <h4 style="margin-top:5px;">Total de Pedidos: {{ pedidos }}</h4>
            <h4>Total de Esfirras de Carne: {{ carne }}</h4>
            <h4>Total de Esfirras de Queijo: {{ queijo }}</h4>
            <h4>Total de Esfirras de Morango: {{ morango }}</h4>
            <h4>Total de Esfirras vezes 5,00: {{ valor_total }}</h4>
        </div>
{% endblock content %}